<div class="box">
    <div class="language">
        <a class="language" href="{{ scheme() }}://de.{{ domain() }}" data-language="de">German</a> -
        <a class="language" href="{{ scheme() }}://fr.{{ domain() }}" data-language="fr">French</a> -
        <a class="language" href="{{ scheme() }}://it.{{ domain() }}" data-language="it">Italian</a> -
        <a class="language" href="{{ scheme() }}://en.{{ domain() }}" data-language="en">English</a>
    </div>

    <div class="logo">
        <img src="images/ViralHelp.png" height="400"></img>
        <img src="images/people2people.png" width="400"></img>
    </div>

    <p class="centered">
        <span class="strong" id="provider_count">0</span>
        {{ providers_registered }}
    </p>
    <p  class="centered">
        <span class="strong" id="help_requests_count">0</span> 
        {{ help_requests_open }}
    </p>

    <div class="centered">
        <p>{{ instructions }}</p>
        <button class="red_button half-width" onclick="window.location.href = '/help/request';">{{ seeking_help }}</button>
        {% if session("email") == None %}
        <button class="green_button half-width" onclick="window.location.href = '/provider/login';">{{ providing_help }}</button>
        {% else %}
        <button class="green_button half-width" onclick="window.location.href = '/provider/view';">{{ providing_help }}</button>
        {% endif %}
    </div>

    <p>If you would like to help us with the site development please join us on <a href="https://join.slack.com/t/viralhelp/shared_invite/zt-czifsfsw-oZFUBLcRHjen0ESgHrseZQ">Slack</a> </p>

    <script>
    {% include "_index.js" %}
    </script>
</div>
