{{description}}
<br><br>
<form action="{{ env['API_URL'] }}/seeker/request" method="put">
    <label for="email">{{email}}</label>
    <input type="email" id="email" name="email">
    <label for="fname">{{name}}</label>
    <input type="text" id="fname" name="fname" required>
    <label for="zipcode" maxlength="4">{{zipcode}}</label>
    <input type="text" id="zipcode" name="zipcode" required>
    <label for="phone">{{phoneNumber}}</label>
    <input type="tel" id="phone" name="phone"
        pattern="[0-9]{9}"
        required
        maxlength=9
        >
    <br>
    <label>{{with}}</label>
    {% include "_care_options.html" %}
    <textarea id="additional_info" name="additional_info"></textarea>
    <br>
    <br>
    {% include "_spoken_languages.html" %}
    <br>
    <p class="warning">{{warning}}</p>
    <br>
    <button class="green_button" type="submit">{{submit}}</button>
</form>
