<label>{{intro}}</label>
<form id="myForm" action="{{ env['API_URL'] }}/provider/profile " method="post">
    <input class="hidden" type="text" id="email" name="email" value="{{ session('email') }}">
    <label for="zipcode" maxlength="4">{{zipcode}}</label>
    <input type="text" id="zipcode" name="zipcode" required>
    {% include "_spoken_languages.html" %}
    <br>
    <p>{{help_with}}:</p>
    {% include "_care_options.html" %}
    <input type="checkbox" name="notify">{{ notify_email }}
    <div class="centered">
        <button class="green_button" type="submit">{{submit}}</button>
    </div>
</form>
<div id="failed" class="hidden centered">
    Failed
    <p id="reason"></p>
</div>
<div id="success" class="hidden centered">{{success}}</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
<script>
    // wait for the DOM to be loaded
    $(function() {
        var options = {
            success:       showResponse,  // post-submit callback
            error:         showError,
        }
        // bind 'myForm' and provide a simple callback function
        $('#myForm').ajaxForm(options);

        // post-submit callback
        function showResponse(responseText, statusText, xhr, $form)  {
            window.location.href = "/provider/view"
        }

        function showError(responseText, statusText, xhr, $form)  {
            $("#failed").show("slow");
            $("#reason").text(xhr);
        }
    });
</script>
